# compiled output
/dist
/node_modules

# Superpowers brainstorm artifacts
.superpowers/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.env
development.env
production.env
production.env.save
migration/outputEc2.txt

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
/.claude
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

glee.pem

package-lock.json
yarn.lock
*.env
*.env.production
/docs
/generated/prisma
/Release:prod
rbac-seed.ts
claude.md
legacy/
*.pdf
