<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You | GLEE APP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
 <body>
    {{!-- {{ message }} --}}

    <div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Account verification successfull.</strong> Please wait while we redirect you to the VTL News App.</p>
  <hr>
  <p>
    Having trouble? <a href="mailto:info@vtlnews.com">Contact us</a>
  </p>
  <p class="lead">
    <a href="vtl_news://authconfirm" class="btn btn-primary btn-sm" id="redirect">Click Here To Force Redirect</a>
  </p>
</div>

<script src="/script/script.js"></script>


  </body>
</html>
